nltk==3.5
pip-chill==1.0.0
pycocotools==2.0.2
torchvision==0.7.0
more_itertools
typer
lazy_import
git+https://github.com/udnaan/self-attentive-parser#egg=benepar
tensorflow
typing_extensions
transformers
